.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-radio-group.ant-radio-group-outline.ant-radio-group-default {
  display: none;
}
.ant-radio-group.ant-radio-group-outline.ant-radio-group-small {
  display: none;
}

.tableFixHead {
  overflow-y: auto;
  height: 100px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color: black;
}
.headcol {
  position: sticky;
  width: 2em;
  left: 0;
  background-color: black;
  z-index: 1;
}

.table {
  overflow-x: scroll;
  margin-left: 2em;
}

/*admin panel - modal dodaj uzytkownika*/
.modal-dialog {
  max-width: 70%;
}

.calendarContainer
  .ant-fullcalendar-cell.ant-fullcalendar-last-day-of-month.ant-fullcalendar-selected-day
  .ant-fullcalendar-value {
  color: rgba(0, 0, 0, 0.65);
  background: transparent;
}
.calendarContainer .ant-select-selection.ant-select-selection--single {
  display: none;
}
.calendarContainer .ant-fullcalendar-cell.ant-fullcalendar-next-month-btn-day {
  display: none;
}
.calendarContainer
  .ant-fullcalendar-selected-day.ant-fullcalendar-value.ant-fullcalendar-month-panel-selected-cell.ant-fullcalendar-value {
  color: rgba(0, 0, 0, 0.65);
  background: transparent;
}
